:root {
    --primary: #6c38cc;
    --links: #a97bff;
    --gray-light: #dad9de;
    --secondary: #e47ad5;
    --total-black: #101114;
    --black: #16171d;
    --gray-dark: #1e1f29;
    --violet-dark: #2e2d3d;
    --gray-stroke: #4d5064;
    --gray: #afb2bf;
    --gradient: linear-gradient(93.33deg, #d77be6 9.26%, #be63e6 42.32%, #6c38cc 104.58%);
    --gradient-opacity: linear-gradient(93.33deg, rgba(215, 123, 230, .3) 9.26%, rgba(190, 99, 230, .3) 42.32%, rgba(108, 56, 204, .3) 104.58%);
    --white: #fafafa;
    --yellow: #fdf41a;
    --primary-hover: #452481;
    --green: #38cc6c;
    --red: #cc384e;
}

:root {
    --radius: 10px;
    --font-family: "Fira Sans", sans-serif;
    --layout-max-width: 1220px;
    --max-dropdown-height: 450px;
}